<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4"><%= t('helpers.submit.edit', model: t('activerecord.models.cat')) %></h1>

  <%= render 'hotwired_samples/cats/form', cat: @cat %>

  <%= link_to t('helpers.links.show'), hotwired_samples_cat_path(@cat), class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  <%= link_to t('helpers.links.back'), hotwired_samples_cats_path, class: "inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" %>
</div>
