<div id="option_<%= option.id %>" class="flex items">
  <p><%= option.name %>: <span><%= option.votes %></span></p>
  <%= button_to t('hotwired_samples.options.vote'), vote_hotwired_samples_option_path(option), method: :post, class: "ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>
